@tailwind base;
@tailwind components;
@tailwind utilities;


.registration span {
  position: absolute;
}
span {
  font-size: 0.8em;
}
input:focus{
  box-shadow: none;
  outline: none;
}
.myshadow{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* width */
html::-webkit-scrollbar {
  width: 10px;
}
.overflow-y-auto::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #d5d5d5;
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #434343; 
  border-radius: 5px;
  height: 10% !important;
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.404),inset -2px -2px 2px rgba(103, 103, 103, 0.25);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #666; 
}

/* ::-webkit-scrollbar-thumb {
  background: #434343;
  border-radius: 16px;
  box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25),inset -2px -2px 2px rgba(0,0,0,.25);
} */